<div class="form-card">
    <h2>Connexion</h2>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onLogin()">Connexion</button>
        </div>
    </form>
</div>