.form-card {
    width: 50%;
    margin: 20px auto;
    padding: 10px 10px;
    box-shadow: rgb(59, 59, 59) 1px 1px 5px;
    background-color: rgb(27, 27, 26);
    border-radius: 0.5%;
    text-align: center;
    color: white;

    .form-group {
        margin: 10px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input, textarea {
        width: 50%;
    }
      
    .action-buttons {
        width: 100%;
    }

    button {
        display: block;
        margin: 20px auto;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        border: none;
        outline: none;
        background-color: transparent;
        box-shadow: rgb(59, 59, 59) 3px 3px 7px;
        &:active {
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
        }
    }
}