<div class="form-card">
    <h2>Nouveau FaceSnap</h2>
    <form [formGroup]="snapForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" placeholder="Titre du facesnap" formControlName="title">
        </div>
        <div class="form-group">
            <label for="descrition">Description</label>
            <textarea name="description" id="description" placeholder="Description..." rows="4" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image</label>
            <input type="text" name="imageUrl" id="imageUrl" placeholder="Url de l'image" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Location..." formControlName="location">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Créer</button>
        </div>
    </form>
</div>

<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.description">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p><i>{{ faceSnap.createDate | date: 'dd MMMM YYYY' }}<span *ngIf="faceSnap.location"> - {{ faceSnap.location }}</span></i></p>
    <p>{{ faceSnap.description }}</p>
    <p>
        <span [ngStyle]="{color: 'rgb(' + faceSnap.likes + ', 0, 0)'}">💖{{ faceSnap.likes }}</span>
    </p>
    <small>
        <i>
            (Nombre d'essais: {{ 6260.58 | number: '1.0-0' }}) | 
            (Taux de réussite: {{ 0.978 | percent: '1.0-1' }}) | 
            (Coût total: {{ 16234412.88 | currency: 'EUR' }})
        </i>
    </small>
</div>