.face-like-card {
  width: 80%;
  margin: 20px auto;
  padding: 10px 10px;
  box-shadow: rgb(59, 59, 59) 1px 1px 5px;
  background-color: rgb(27, 27, 26);
  border-radius: 0.5%;
  text-align: center;
  color: white;

  img {
    width: 100%;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }

  button {
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    box-shadow: rgb(59, 59, 59) 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }
}

.liked {
  background-color: rgba(lightgreen, 0.4);
  color: white;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: white;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}