.landing-content {
  color: white;
  text-align: center;
  
  p {
    width: 60%;
    margin: 1% 1% 1% 20%;
  }

  button {
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    box-shadow: rgb(59, 59, 59) 3px 3px 7px;
    outline: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}