<div class="landing-content">
    <h2>Bievenue | Welcome | Holà | Bienvenido</h2>
    <p>Ce site présente des oeuvres d'arts réalisé par une intelligence artificielle. A noter que toute description explicant le coût d'une image, son pourcentage de réussite ainsi que son nombre d'essai sont fictif et représente uniquement une idée vague d'une réalisation humaine.</p>
    <button (click)="onContinue()">Voir les oeuvres</button>
    <div class="form-content">
        <form #newsletter="ngForm" (ngSubmit)="onSubmitForm(newsletter)">
            <label for="emailInput">Newsletter</label>
            <input type="email" name="userEmail" id="emailInput" placeholder="Votre Email" [(ngModel)]="userEmail">
            <button type="submit">Valider</button>
        </form>
    </div>
</div>
